// Variables
$titletext: rgb(125, 157, 204);
$titlehover: rgb(130, 180, 255);
$line: rgba(214, 214, 214, 0.404);

// Stylin'

.connect {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 35px 100px;
    flex-direction: column;
    @media screen and (max-width: 400px) {
        width: 600px;
    }

    .connect-title {
        width: 100%;
        font-size: 35px;
        text-align: left;
        color: $titletext;
        margin: 20px 0;
        border-bottom: 1px solid $line;
        padding-bottom: 15px;
    }

    .connect-container {
        display: flex;
        flex-direction: column;

        .image-info-container {
            display: flex;
            flex-wrap: wrap;

            .me {
                width: 250px;
                height: 250px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
            }

        .info-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            #info-name {
                font-size: 30px;
                font-weight: 300;
                color: black;
            }

            .info {
                font-size: 20px;
                font-weight: 300;
                margin: 0 20px 15px 20px;
                display: flex;
                flex-direction: row;

                .email {
                    margin: 0 5px 0 5px;
                    color: $titlehover;
                    font-style: normal;
                    text-decoration: none;
                    &:hover {
                        color: silver;
                    }
                }

                .phone {
                    margin: 0 5px 0 5px;
                    color: $titlehover;
                    font-style: normal;
                    text-decoration: none;
                }

                .resume {
                    margin: 0 5px 0 5px;
                    color: $titlehover;
                    font-style: normal;
                    text-decoration: none;
                    &:hover {
                        color: silver;
                    }
                }
            }
        }
    }
    }

    .cert-container {
        display: flex;
        flex-wrap: wrap;
        margin: 15px 15px 15px -15px;


        .lightbox img {
            width: 200px;
            border: 1px solid silver;
            margin: 15px;
        }

        .lightbox-target {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: rgba(0,0,0,.7);
            opacity: 0;
            -webkit-transition: opacity .5s ease-in-out;
            -moz-transition: opacity .5s ease-in-out;
            -o-transition: opacity .5s ease-in-out;
            transition: opacity .5s ease-in-out;
            overflow: hidden;

        }

        .lightbox-target img {
            margin: auto;
            position: fixed;
            top: 0;
            left:0;
            right:0;
            bottom: 0;
            max-height: 0%;
            max-width: 0%;
            border: 3px solid white;
            box-shadow: 0px 0px 8px rgba(0,0,0,.3);
            box-sizing: border-box;
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
        }

        .lightbox-close {
            display: block;
            width:50px;
            height:50px;
            box-sizing: border-box;
            background: white;
            color: black;
            text-decoration: none;
            position: absolute;
            top: -80px;
            right: 0;
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
        }

        .lightbox-close:before {
            content: "";
            display: block;
            height: 30px;
            width: 1px;
            background: black;
            position: absolute;
            left: 26px;
            top:10px;
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            transform:rotate(45deg);
        }

        .lightbox-close:after {
            content: "";
            display: block;
            height: 30px;
            width: 1px;
            background: black;
            position: absolute;
            left: 26px;
            top:10px;
            -webkit-transform:rotate(-45deg);
            -moz-transform:rotate(-45deg);
            -o-transform:rotate(-45deg);
            transform:rotate(-45deg);
        }

        .lightbox-target:target {
            opacity: 1;
            top: 0;
            bottom: 0;
        }

        .lightbox-target:target img {
            max-height: 100%;
            max-width: 100%;
        }

        .lightbox-target:target a.lightbox-close {
            top: 0px;
        }
    }

}

.cert-title {
    margin-top: 30px;
    border-bottom: .5px solid $line;
    padding: 15px 0;
    display: flex;
    font-size: 20px;
    font-weight: 300;
}

.cert-view {
    margin: 15px;
    color: $titletext;
}
