// Variables
$titletext: rgb(125, 157, 204);
$titlehover: rgb(130, 180, 255);
$line: rgba(214, 214, 214, 0.404);

// Stylin'

.footer {
    border-top: 1px solid $line;
    margin-bottom: 50px;
    @media screen and (max-width: 400px) {
        width: 650px;
    }
}

.social-box {
    margin: 25px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.social {
    width: 45px;
    margin: 45px;
}